.modal_container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 360px;
    border-radius: 8px;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    padding: 10px;
}
.overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:99;
    background-color: #00000080;
}